
.ux-flag-us {
    background-image: url(../img/flags/us.png) !important;
}

.ux-flag-si {
    background-image: url(../img/flags/si.png) !important;
}

.ux-flag-sk {
    background-image: url(../img/flags/sk.png) !important;
}

.ux-flag-en {
    background-image: url(../img/flags/en.png) !important;
}

.ux-flag-de {
    background-image: url(../img/flags/de.png) !important;
}

.ux-flag-es {
    background-image: url(../img/flags/es.png) !important;
}