/* styling for context menu and table items */

.x-menu-item-text {
	color: black;
}

.x-table-icon {
    background-image:url(../gis_icons/contextmenu/table.svg);
    background-size: contain;
    width: 16px;
}

.x-zoom-icon {
    background-image:url(../gis_icons/contextmenu/zoom.svg);
}

.x-export-icon {
    background-image:url(../gis_icons/contextmenu/export.svg);
}

/* Here are new styles */

.x-edit-icon {
    background-image:url(../gis_icons/mActionToggleEditing.svg);
    background-size: contain;
    width: 16px;
}

.x-clearfilter-icon {
    background-image:url(../gis_icons/filter_delete.png);
}

.x-clear-icon {
    background-image:url(../gis_icons/mActionClear.svg);
    background-size: contain;
    width: 16px;
}

.x-extent-icon {
    background-image:url(../gis_icons/extents.png);
    height:16px;
    background-position:center right;
}

.x-add-icon{
    background-image: url(../libs/ext/resources/images/default/dd/drop-add.gif);
    height:16px;
    background-position:center right;
}

.x-exclamation-icon {
    background-image:url(../libs/ext/resources/images/access/form/exclamation.gif);
    height:16px;
    background-position:center right;
}

.x-measurement-filter-icon {
    background-image: url(../gis_icons/mAlgorithmIntersect.svg);
}

.x-measurement-tool-icon {
    width: 16px;
    height: 16px;
    margin: 0 2px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.x-measurement-filter-icon-disabled {
    opacity: 0.4;
    cursor: default;
}

.x-measurement-zoom-icon {
    background-image: url(../gis_icons/contextmenu/zoom.svg);
}

.x-measurement-delete-x-icon {
    width: 15px;
    height: 15px;
    background-image: url(../libs/ext/resources/images/gray/panel/tool-sprites.gif);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto;
}

.icon-save { background-image: url(../gis_icons/save.gif) !important; background-repeat: no-repeat; }

.icon-delete { background-image: url(../gis_icons/editor_delete.png) !important; background-repeat: no-repeat; }

/* default table style for featureinfo */
td {
    vertical-align: top;
}
