.gx-popup-anc{background:transparent url(../libs/geoext/resources/images/default/anchor.png) no-repeat 0 0;position:absolute;left:5px;z-index:2;height:16px;width:31px;pointer-events:none;}.gx-popup-anc.top{background:transparent url(../libs/geoext/resources/images/default/anchor-top.png) no-repeat 0 0;top:-16px;}.gx-popup-anc.right{left:auto;right:5px;}

/* popup related styles */
.olPopup {
    overflow: inherit;
    pointer-events: none;
    max-height: 400px;
}


/*styles for identify icons*/
.i-select {
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 16px;
    width: 16px;
    padding-top: 16px;
    overflow: hidden;
    background: url(../gis_icons/mActionSelect.png);
}

.i-edit {
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 16px;
    width: 16px;
    padding-top: 16px;
    overflow: hidden;
    background: url(../gis_icons/mActionToggleEditing.png);
}

.i-clear {
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 16px;
    width: 16px;
    padding-top: 16px;
    overflow: hidden;
    background: url(../gis_icons/mActionClear.png);
}

.i-add {
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 16px;
    width: 16px;
    padding-top: 16px;
    overflow: hidden;
    background: url(../libs/ext/resources/images/default/dd/drop-add.gif);

}

.i-table {
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 16px;
    width: 16px;
    padding-top: 16px;
    overflow: hidden;
    background: url(../gis_icons/contextmenu/table.png);
}

.tip-target {
    padding: 1px 1px 1px 2px;
    margin-top: -2px;
    border:1px dotted #99bbe8;
    color: #15428b;
    cursor:default;
    font:normal 10px tahoma,arial,sans-serif;
    float:left;
}


/*
a:link, a:visited
{
	color: #FF6600;
}

h1, h2, h3, h4, h5
{
	color: #FF6600;
}
*/