.gx-popup-anc{background:transparent url(../libs/geoext/resources/images/default/anchor.png) no-repeat 0 0;position:absolute;left:5px;z-index:2;height:16px;width:31px;pointer-events:none;}.gx-popup-anc.top{background:transparent url(../libs/geoext/resources/images/default/anchor-top.png) no-repeat 0 0;top:-16px;}.gx-popup-anc.right{left:auto;right:5px;}

/*
a:link, a:visited
{
	color: #FF6600;
}

h1, h2, h3, h4, h5
{
	color: #FF6600;
}
*/