/* this file contains some common styles and overriden openlayers styles */
body, html {
    font-size: 14px !important; /* Base font size increase from typical 12px */
}

p {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
}

#dpiDetection {
    height: 1in;
    left: -100%;
    position: absolute;
    top: -100%;
    width: 1in;
}

#panel_header_title {
    float: left;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 10px;
}

#panel_header_link {
    float: left;
}

#panel_header_terms_of_use {
    float: right;
    font-weight: normal;
}

.x-panel-header {
    border-right: 0 solid;
}

.x-tool-user {
    background-image: url(../img/user_gray.png);
    /*background-position: center;*/
    background-size: contain;
    width: 32px;
    height: 32px;
    position: absolute;
    right: 8px;
}

.x-tool-sodo_logotipi {
    background-image: url(../../../plugins/sodo_logotipi/img/logotipi.png);
    background-position: center;
    /*background-size: contain;*/
    width: 720px;
    height: 38px;
    position: absolute;
    cursor: default;
    /*right: 8px;*/
}

.x-tool-geoportal_logo {
    background-image: url(../../../admin/resources/images/_temp.png);
    background-position: center;
    background-size: contain;
    width: 16px;
    height: 16px;
    /*position: absolute;*/
    /*cursor: default;*/
    /*right: 8px;*/
}

.x-tool-geoportal_support {
    background-image: url(../gis_icons/question.svg);
    background-position: center;
    background-size: contain;
    width: 32px;
    height: 32px;
    position: absolute;
    right: 42x;
    cursor: pointer;}


.olTileImage.olImageLoadError {
    display: none !important;
}

div.olMap {
    z-index: 0;
    padding: 0 !important;
    margin: 0 !important;
    cursor: default;
    -ms-touch-action: none;
    touch-action: none;
}

.olControlOverviewMapElement {
    padding: 0 !important;
    border-radius: 0 !important;
}

div.olControlOverviewMapMaximizeButton, div.olControlOverviewMapMinimizeButton {
    right: 0px;
    top: 0px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.4);
    /*border-radius: 4px;*/
    padding: 2px;
}

div.olControlOverviewMapMaximizeButton a, div.olControlOverviewMapMinimizeButton a {
    display: block;
    margin: 1px;
    /*padding-top: 3px;*/
    color: white;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*font-weight: bold;*/
    text-decoration: none;
    text-align: center;
    height: 16px;
    width: 16px;
    /*line-height: 19px;*/
    /*background: #130085;*/
    background: rgba(60, 60, 60, 0.5);
    filter: alpha(opacity=80);
}

div.olControlOverviewMapMaximizeButton a:hover, div.olControlOverviewMapMinimizeButton a:hover {
    /* background: #130085; */ /* fallback for IE */
    background: rgba(60, 60, 60, 0.7);
    filter: alpha(opacity=100);
}

@media only screen and (max-width: 600px) {
    div.olControlOverviewMapMaximizeButton a:hover, div.olControlOverviewMapMinimizeButton a:hover {
        background: rgba(60, 60, 60, 0.5);
    }
}
 